@import "partials/variables";
@import "partials/nav";
@import "partials/bookAnimation";
@import "font-awesome/font-awesome";

body {
	background-color: #b3b3b3;
	height: 100%;
	margin: 0px;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

%backgroundCover {
	background-size: cover;
	background-repeat: no-repeat;
	height: 700px;
}

@mixin floatMe($float) {
         position: relative;
         float: $float;
}
/*First section of website: big background image, nav bar.*/
.firstSection {
	@extend %backgroundCover;
	background-image: url("images/backgroundImage.jpg");
}

#behindTheirWords {
	font-family: $font-bigCursive;
	font-size: 50px;
	color: #cccccc;
	text-align: left;
	margin: 0px;
	position: absolute;
	top: 200px;
	left: 30px;
}

#behindTheirWordsSub {
	@extend #behindTheirWords;
	font-size: 20px;
	top: 300px;
	left: 70px;
}

#centerTitle {
	clear: all;
	height: 700px;
	position: relative;
	top: 100px;
}

/*Second section of website: author photos and blog teasers.*/
.secondSection {
	@extend %backgroundCover;
	background-color: $grayColor;
	height: 900px;
}

%column {
	width: 50%;
	border: 1px solid black;
	box-sizing: border-box;
}

.columnLeft {
	@extend %column;
	@include floatMe(left);
}

.columnRight {
	@extend %column;
	@include floatMe(right);
}

.authorPic {
	display: block;
	width: 30%;
	margin: 0 auto;
	top: 50%;
}

#leftFirstBox, #leftSecondBox, #leftThirdBox, #rightFirstBox, #rightSecondBox, #rightThirdBox {
	height: 300px;
	border: 1px solid black;
}

/*Third section of website: news and links*/
.thirdSection {
	@extend %backgroundCover;
	@include floatMe(left);
	height: 700px;
	width: 100%;
	background-image: linear-gradient(rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
      ),
	url(images/brochures.jpg);
}

#thirdText {
	font-family: $font-secondaryCursive;
	font-size: 30px;
	text-align: center;
	line-height: 50%;
}

#thirdText2{
	@extend #thirdText;
	font-size: 20px;
	text-align: right;
	position: relative;
	right: 25%;
}


#rightJustifiedBox {
	@include floatMe(right);
	background-color: $grayColor;
	width: 30%;
	top: 20%;
	right: 20px;
	border: 10px solid black;
	border-radius: 25px;
}

/*Fourth section of website: buttons to get involved*/
.fourthSection {
	@extend %backgroundCover;
	@include floatMe(left);
	height: 250px;
	width: 100%;
}

.buttonStuff {
	@include floatMe(left);
	display: inline-block;
	width: 25%;
	margin: 4.167%;
	text-align: center;
}

.buttonLink {
    transition-duration: 0.4s;
    background-color: $grayColor;
    border-radius: 25px;
    padding: 10px 24px;
    font-family: $font-bigCursive;
    font-size: 30px;
}

.buttonLink:hover {
    background-color: blue;
    color: white;
}

/*.buttonLink {
	@include floatMe(left);
	margin: 50px;
}*/

/*Fifth section of website: social media*/
.fifthSection {
	@extend %backgroundCover;
	@include floatMe(left);
	height: 900px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
      ),
	url(images/bike.jpg);
	clear: left;
	width: 100%;
}

#socialMediaText {
	text-align: center;
	font-family: $font-bigCursive;
	font-size: 30px;
	color: white;
	position: relative;
	top: 40%;
	line-height: 20%;
	margin: 0;
}

/*Book info -- add to separate partial?*/

#authorBio {
	width: 100px;
	float: right;
}

.align {
	clear: both;
	margin-top: 90px;
/*	width: 50%;*/
	max-width: 1170px;
	text-align: center;
	float: left;
}

.align > li {
	min-height: 300px;
	display: inline-block;
	margin: 30px 20px 30px 30px;
	padding: 0 0 0 60px;
	vertical-align: top;
}

.book {
	position: relative;
	width: 160px; 
	height: 220px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.poem, .iframe {
	visibility: hidden;
}
#poemTitle {
	margin-top: 30px;
	font-size: 8px;
}
#authorNameInside {
	font-size: 6px;
}
#authorNameOutside {
	font-size: 16px;
}
.authorPhoto {
	float: right;
	margin: 20px;
}

.coverDesign {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.coverDesign::after {
	background-image: -webkit-linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
	background-image: -moz-linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
	background-image: linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

figcaption {
	/*Adding border to see where this section actually lives.*/
	border: 10px;
	padding-left: 40px;
	text-align: left;
	/*float: right;*/
	margin-top: 90px;
	left: 160px;
	width: 310px;
	-webkit-backface-visibility: hidden;
}

figcaption h1 {
	margin: 0;
}

figcaption span {
	color: #16a085;
	padding: 0.6em 0 1em 0;
	display: block;
}

figcaption p {
	color: #63707d;
	line-height: 1.3;
}

/* Media Queries */
@media screen and (max-width: 37.8125em) {
	.align > li {
		width: 100%;
		min-height: 440px;
		height: auto;
		padding: 0;
		margin: 0 0 30px 0;
	}

	.book {
		margin: 0 auto;
	}

	figcaption {
		text-align: center;
		width: 320px;
		top: 250px;
		padding-left: 0;
		left: -80px;
		font-size: 90%;
	}
}
